<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./lib/vue.js"></script>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
  <title>Loja Vue</title>
</head>

<body>
  <div id="app">

    <header class="header">
      <img class="logo" src="./assets/techno.svg" alt="Techno">
      <div class="carrinho_menu">{{carrinhoValorTotal | numeroPreco}} | {{carrinhoTotalItens}}</div>
      <ul>
        <li v-for="({nome}, index) in carrinho" v-if="carrinho">
          <span>{{nome}}</span>
          <button @click="removerItemDoCarrinho(index)">x</button>
        </li>
      </ul>
    </header>

    <section class="produtos">
      <div v-for="({img, nome, id, preco}) in produtos" @click="abrirModal(id)" :key="id" class="produto">
        <img :src="img" :alt="nome" class="produto_img">
        <div class="produto_info">
          <span class="produto_preco">{{preco | numeroPreco}}</span>
          <h2 class="produto_titulo">{{nome}}</h2>
        </div>
      </div>
    </section>

    <section @click="fecharModal" class="modal" v-if="produto">
      <div class="modal_container animarDeCima">
        <div class="modal_img">
          <img :src="produto.img" alt="produto.nome">
        </div>
        <div class="modal_dados">
          <button @click="produto = false" class="modal_fechar">x</button>
          <span class="modal_preco">{{produto.preco | numeroPreco}}</span>
          <h2 class="modal_titulo">{{produto.nome}}</h2>
          <p>{{produto.descricao}}</p>
          <button @click="adicionarItemNoCarrinho" class="modal_botao_adicionar"
            :disabled="statusBotaoModal">{{textoBotalModal}}</button>
        </div>
        <div class="avaliacoes">
          <h2 class="avaliacaoes_subtitulo">Avaliações</h2>
          <ul>
            <li v-for="avaliacao in produto.reviews" class="avaliacao">
              <p class="avaliacao_descricao">{{avaliacao.descricao}}</p>
              <p class="avaliacao_usuario">{{avaliacao.nome}} | {{avaliacao.estrelas}} estrelas</p>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <div class="alerta animarDeCima" v-if="ativarMensagem">
      <p class="alerta_mensagem">{{mensagemAlerta}}</p>
    </div>
  </div>
  <script src="./js/main.js"></script>
</body>

</html>